trigger:
- master

pr:
- master

variables:
  version: BETA

jobs:
- job: TestVar
  pool:
    vmImage: 'ubuntu-16.04'

  steps:
  - bash: |
      set -e
      set -o xtrace
      echo "Uname -s output"
      uname -s
      echo "Hello World"
  	  echo $(version) is the content
     
    displayName: Test Step